<div class="container">
  <h1>Browse photos:</h1>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-sm-4 my-3">
        <div class="col-12" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key %>); height: 200px; background-position: center; background-size: cover; border: 1px solid black; position: relative;">
        <% if current_user.has_favorite?(photo.blob) %>
          <%= link_to favorite_path(current_user.favorite_of(photo.blob)), method: :delete do %>
            <i class="fas fa-heart" style="color: red; position: absolute; top: 4px; right: 4px; font-size: 22px"></i>
          <% end %>
        <% else %>
          <%= link_to favorites_path(blob: photo.blob), method: :post do %>
            <i class="far fa-heart" style="color: red; position: absolute; top: 4px; right: 4px; font-size: 22px"></i>
          <% end %>
        <% end %>
        </div>
        <p>Photo by: <%= link_to photo.record.name , artist_path(photo.record) %> </p>
      </div>
    <% end %>
  </div>
</div>
